{{define "todo-item"}}
<li
  class="flex justify-between gap-24 items-center border rounded p-3 px-8 text-xl"
  id="task-{{.ID}}"
>
  <span
    hx-get="/edit/{{.ID}}"
    hx-trigger="click"
    hx-target="#task-{{.ID}}"
    hx-swap="outerHTML"
    class="task-content"
  >
    {{.Task}}
  </span>

  <form
    hx-post="/delete"
    hx-target="#todo-list"
    hx-swap="innerHTML"
    class="delete-task-form"
    style="display: inline"
  >
    <input type="hidden" name="id" value="{{.ID}}" />
    <button type="submit" class="border p-2 px-3 rounded text-sm">
      Delete
    </button>
  </form>
</li>
{{end}}
